################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebShoeShop/WebShoeShopUnitTest/obj/Debug/net8.0
