################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebShoeShop/.vs/WebShoeShop/v17/fileList.bin
