<table border="0" cellpadding="0" cellspacing="0" width="600"
       style="background-color:#ffffff;border:1px solid #dedede;border-radius:3px">
    <tbody>
        <tr>
            <td align="center" valign="top">

                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                       style="background-color: #2761ff; color: #ffffff; border-bottom: 0; font-weight: bold; line-height: 100%; vertical-align: middle; font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif; border-radius: 3px 3px 0 0">
                    <tbody>
                        <tr>
                            <td align="center" valign="top" style="font-size:0; padding: 35px;" bgcolor="#a2a2a2">

                                <div style="display:inline-block; max-width:50%; min-width:100px; vertical-align:top; width:100%;" class="mobile-hide">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                                        <tr>
                                            <td align="right" valign="top" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; line-height: 48px;">
                                                <table cellspacing="0" cellpadding="0" border="0" align="right">
                                                    <tr>
                                                        
                                                        <td style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 24px;">
                                                            <a href="#" target="_blank" style="color: #ffffff; text-decoration: none;"><img width="250" height="115" style=" display: block;-webkit-user-select: none;margin: auto;transition: background-color 300ms;" src="https://lizotel.pt/optimal-html/email-template/images/order-on-way.gif"></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        <tr>
            <td align="center" valign="top">

                <table border="0" cellpadding="0" cellspacing="0" width="600">
                    <tbody>
                        <tr>
                            <td valign="top" style="background-color:#ffffff">

                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;">
                                                <img width="64" height="64" src="https://img.icons8.com/cute-clipart/64/checked.png" alt="checked" /><br>
                                                <h2 style="font-size: 30px; font-weight: 800; line-height: 36px; color: #333333; margin: 0; font-family: 'Arial' ">
                                                    Cảm ơn bạn đã đặt hàng!
                                                </h2>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" style="padding:48px 48px 32px">
                                                <div style="color:#636363;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:14px;line-height:150%;text-align:left">

                                                    <p style="margin:0 0 16px">Xin chào {{TenKhachHang}},</p>


                                                    <h2 style="color: #2761ff; display: block; font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif; font-size: 18px; font-weight: bold; line-height: 130%; margin: 0 0 18px; text-align: left">
                                                        [Đơn hàng #{{MaDon}}] ({{NgayDat}})
                                                    </h2>

                                                    <div style="margin-bottom:40px">
                                                        <table cellspacing="0" cellpadding="6" border="1"
                                                               style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;width:100%;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif">
                                                            <thead>

                                                                <tr>
                                                                    <th scope="col"
                                                                        style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                        Sản phẩm
                                                                    </th>
                                                                    <th scope="col"
                                                                        style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                        Số lượng
                                                                    </th>
                                                                    <th scope="col"
                                                                        style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                        Size
                                                                    </th>
                                                                    <th scope="col"
                                                                        style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                        Giá
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {{SanPham}}

                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <th scope="row" colspan="3"
                                                                        style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left;border-top-width:4px">
                                                                        Nguyên giá:
                                                                    </th>
                                                                    <td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left;border-top-width:4px">
                                                                        <span>{{ThanhTien}}&nbsp;<span>₫</span></span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row" colspan="3"
                                                                        style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                        Phí vận chuyển:
                                                                    </th>
                                                                    <td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                        <span>{{PhiVanChuyen}}&nbsp;<span>₫</span></span>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <th scope="row" colspan="3"
                                                                        style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                        Tổng cộng:
                                                                    </th>
                                                                    <td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                        <span>{{TongTien}}&nbsp;<span>₫</span></span>
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>


                                                    <table cellspacing="0" cellpadding="0" border="0"
                                                           style="width:100%;vertical-align:top;margin-bottom:40px;padding:0">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" width="50%"
                                                                    style="text-align:left;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;border:0;padding:0">
                                                                    <h2 style="color: #2761ff; display: block; font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif; font-size: 18px; font-weight: bold; line-height: 130%; margin: 0 0 18px; text-align: left">
                                                                        Thông tin người nhận
                                                                    </h2>

                                                                    <address style="padding:12px;color:#636363;border:1px solid #e5e5e5">
                                                                        {{TenKhachHang}}<br>{{DiaChiNhanHang}} <br><a href="tel:{{Phone}}"
                                                                                                                      style="color: #2761ff; font-weight: normal; text-decoration: underline"
                                                                                                                      target="_blank">{{Phone}}</a> <br><a href="mailto:{{Email}}"
                                                                                                                                                           target="_blank">{{Email}}</a>
                                                                    </address>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p style="margin:0 0 16px">
                                                        Chúng tôi đang tiến hành hoàn thiện đơn
                                                        đặt hàng của bạn
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style=" padding: 35px; background-color: #ff7361;" bgcolor="#1b9ba3">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                                                    <tr>
                                                        <td align="center" style=" font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;">
                                                            <h2 style="font-size: 24px; font-weight: 800; line-height: 30px; color: #ffffff; margin: 0;">
                                                                Nhận 30% cho đơn hàng tiếp theo.
                                                            </h2>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td align="center" style="padding: 25px 0 15px 0;">
                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="center" style="border-radius: 5px;" bgcolor="#66b3b7">
                                                                        <a href="https://localhost:44390/" target="_blank" style="font-size: 18px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 5px; background-color: #F44336; padding: 15px 30px; border: 1px solid #F44336; display: block;">Shop Again</a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding: 35px; background-color: #ffffff;" bgcolor="#ffffff">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                                                    <tr>
                                                        <td align="center">
                                                            <img width="60" height="60" src="https://img.icons8.com/external-soft-fill-juicy-fish/60/external-location-love-soft-fill-soft-fill-juicy-fish.png" alt="external-location-love-soft-fill-soft-fill-juicy-fish" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" style=" font-size: 14px; font-weight: 400; line-height: 24px; padding: 5px 0 10px 0;">
                                                            <p style="font-size: 14px; font-weight: 800; line-height: 18px; color: #333333; font-family: 'Arial'">
                                                                450-451 Lê Văn Việt, Phường Tăng Nhơn Phú A<br>
                                                                Thành phố Thủ Đức, TP.Hồ Chí Minh
                                                            </p>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>