
@{
    ViewBag.Title = "Carrer";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/FAQs.css">

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->
            <h2 class="text-center" style="margin-top:30px;font-weight:bold;">Tuyển dụng nhân sự</h2>
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/home">Trang chủ</a></li>
                    <li class="active"><a href="/chinh-sach"><i class="fa fa-angle-right" aria-hidden="true"></i>Tuyển dụng</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="faqs-container">
            <h2 class="text-center" style="margin-top:30px;font-weight:bold;">ỨNG TUYỂN NGAY</h2>
            <div class="faq active">
                <h3 class="faq-title">
                    |BRAND| - PRODUCT / GRAPHIC DESIGNER
                </h3>
                <p class="faq-text">
                    Full-time<br>

                    <b>Thời gian làm việc:</b><br>
                    – 9h00 – 18h00, từ thứ 2 đến thứ 7<br>

                    <b>Địa điểm làm việc:</b><br>
                    – 2T-2Q House – 450-451 Lê Văn Việt, Phường Tăng Nhơn Phú A, Thành phố Thủ Đức, TP.Hồ Chí Minh<br>

                    <b>Yêu cầu công việc:</b><br>
                    – Sử dụng thành thạo các công cụ thiết kế.<br>
                    – Taste thiết kế hiện đại, có thẩm mỹ tốt.<br>
                    – Yêu thích nhiếp ảnh và thời trang là một lợi thế (đặc biệt là về Sneakers và Streetwear).<br>
                    – Có tính tự giác, kỷ luật và trách nhiệm cao trong công việc.<br>
                    – Không ngại khó khăn, chịu thay đổi, thích nghi để hoàn thiện.<br>
                    
                    <b>Mô tả công việc:</b> Trao đổi khi phỏng vấn tuỳ theo điểm mạnh của bạn.<br>

                    <b>Quyền lợi:</b><br>
                    – Được làm việc trong môi trường trẻ và khuyến khích sáng tạo.<br>
                    – Trải nghiệm nhiều khía cạnh khác nhau của công việc thiết kế.<br>
                    – Lương thỏa thuận khi phỏng vấn trực tiếp (có thể nêu đề xuất trong email).<br>
                    – Thưởng KPI theo cá nhân và team.<br>
                    – Nghỉ phép các ngày lễ – Tết theo quy định của Luật lao động.<br>

                    <b>Địa điểm phỏng vấn:</b><br>

                    – 2T-2Q House – 450-451 Lê Văn Việt, Phường Tăng Nhơn Phú A, Thành phố Thủ Đức, TP.Hồ Chí Minh<br>
                </p>
                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="faq">
                <h3 class="faq-title">
                    |BRAND| - SNEAKER / FASHION COPYWRITER
                </h3>
                <p class="faq-text">
                    Fulltime<br>

                    <b>Thời gian làm việc:</b><br>
                    – 9h00 – 18h00, từ thứ 2 đến thứ 7.<br>

                    <b>Địa điểm làm việc:</b><br>
                    – 2T-2Q House – 450-451 Lê Văn Việt, Phường Tăng Nhơn Phú A, Thành phố Thủ Đức, TP.Hồ Chí Minh<br>

                    <b>Yêu cầu công việc:</b><br>
                    – Có tư duy hệ thống tốt; đam mê và có kiến thức trong lĩnh vực thời trang, đặc biệt là sneakers, streetwear.<br>
                    – Kỹ năng viết tốt. Có khả năng trình bày thông tin mạch lạc, logic.<br>
                    – Có tính tự giác, kỷ luật và trách nhiệm cao trong công việc.<br>
                    – Không ngại khó khăn, chịu nghe, chịu chỉnh sửa để hoàn thiện mình mỗi ngày.<br>
                    
                    <b>Mô tả công việc:</b> Trao đổi khi phỏng vấn tuỳ theo điểm mạnh của bạn.<br>

                    <b>Quyền lợi:</b><br>
                    – Làm việc trong môi trường trẻ, khuyến khích sáng tạo, được tạo điều kiện để thể hiện bản thân và học hỏi.<br>
                    – Lương thỏa thuận khi phỏng vấn trực tiếp.<br>
                    – Thưởng KPI theo cá nhân và team.<br>
                    – Nghỉ phép các ngày lễ – Tết theo quy định của Luật lao động.<br>

                    <b>Địa điểm phỏng vấn:</b><br>

                    – 2T-2Q House – 450-451 Lê Văn Việt, Phường Tăng Nhơn Phú A, Thành phố Thủ Đức, TP.Hồ Chí Minh<br>
                </p>
                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="faq">
                <h3 class="faq-title">
                    |BRAND| - INTERN MARKETING EXECUTIVE
                </h3>
                <p class="faq-text">
                    Full time<br>

                    <b>Thời gian làm việc:</b><br>
                    – 9h00 – 18h00, từ thứ 2 đến thứ 7.<br>

                    <b>Địa điểm làm việc:</b><br>
                    – 2T-2Q House – 450-451 Lê Văn Việt, Phường Tăng Nhơn Phú A, Thành phố Thủ Đức, TP.Hồ Chí Minh<br>

                    <b>Yêu cầu công việc:</b><br>
                    – Không đòi hỏi kinh nghiệm.<br>
                    – Yêu thích ngành bán lẻ, quảng cáo và muốn tiến sâu trong ngành. Có đam mê với ngành thời trang.<br>
                    – Thông minh, nhanh nhẹn, có tinh thần trách nhiệm và đảm bảo giờ giấc cao.<br>
                    – Không ngại áp lực.<br>

                    <b>Mô tả công việc:</b><br>
                    – Hỗ trợ follow công việc, kết nối cả team với các network liên quan bên ngoài.
                    – Tham gia hỗ trợ trong việc triển khai các hoạt động sản xuất production, các hoạt động digital marketing, event.

                    <b>Quyền lợi:</b><br>
                    – Trải nghiệm, học hỏi trong môi trường trẻ, được tạo điều kiện để sáng tạo và thể hiện mình.<br>
                    – Lương thỏa thuận khi phỏng vấn trực tiếp.<br>
                    – Thưởng KPI theo cá nhân và team.<br>
                    – Nghỉ phép các ngày lễ – Tết theo quy định của lao động.<br>

                    <b>Địa điểm phỏng vấn:</b><br>

                    – 2T-2Q House – 450-451 Lê Văn Việt, Phường Tăng Nhơn Phú A, Thành phố Thủ Đức, TP.Hồ Chí Minh<br>
                </p>
                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="faq">
                <h3 class="faq-title">
                    |SALES| - STORE STAFF
                </h3>
                <p class="faq-text">
                    <b>Thời gian làm việc:</b><br>

                    <b>Part-time:</b><br>
                    – Ca sáng: 9h00 – 14h00<br>
                    – Ca giữa: 13h00 – 18h00<br>
                    – Ca tối: 17h00 – 22h00<br>

                    <b>Địa điểm làm việc:</b><br>
                    – 2T-2Q House – 450-451 Lê Văn Việt, Phường Tăng Nhơn Phú A, Thành phố Thủ Đức, TP.Hồ Chí Minh<br>

                    <b>Yêu cầu công việc:</b><br>
                    – Độ tuổi từ 18-22 tuổi;<br>
                    – Tinh thần trách nhiệm cao, đúng giờ, biết lắng nghe và ham học hỏi là điều kiện bắt buộc;<br>
                    – Cẩn thận, chủ động, hòa đồng và có khả năng làm việc nhóm;<br>
                    – Nhanh nhẹn, hoạt bát, giao tiếp tốt, có kinh nghiệm bán hàng (về lĩnh vực thời trang) là một lợi thế;<br>
                    – Tiếng Anh giao tiếp, tin học văn phòng cơ bản;<br>
                    – Thời gian thuận tiện có thể linh động làm việc ca tối, ngày cuối tuần, ngày lễ; Tết.<br>

                    <b>Mô tả công việc:</b><br>
                    – Tư vấn bán hàng và hỗ trợ khách hàng thực hiện các chính sách đổi trả, bảo hành;<br>
                    – Trưng bày, bổ sung và sắp xếp hàng hóa theo quy định và yêu cầu tùy từng thời điểm;<br>
                    – Vệ sinh cửa hàng sạch sẽ, gọn gàng;<br>
                    – Thực hiện việc kiểm kho hằng ngày theo quy định;<br>
                    – Kiểm tiền – giao ca hằng ngày;<br>
                    – Báo cáo các vấn đề ngoài khả năng của nhân viên đến Quản lý trực tiếp (VD: khách hàng, hư hỏng trong CH, …);<br>
                    – Thực hiện yêu cầu cấp trên đưa xuống.<br>

                    <b>Quyền lợi:</b><br>
                    – Lương cơ bản 24k/h;<br>
                    – Thưởng KPI đánh giá theo kết quả kinh doanh áp dụng với nơi công tác;<br>
                    – Được off 4 ngày/tháng.<br>

                    <b>Địa điểm phỏng vấn:</b><br>

                    – 2T-2Q House – 450-451 Lê Văn Việt, Phường Tăng Nhơn Phú A, Thành phố Thủ Đức, TP.Hồ Chí Minh<br>

                    <b>Hồ sơ ứng tuyển:</b><br>
                    – CV;<br>
                    – Ảnh chân dung và toàn thân;<br>
                    – Thông tin về các kênh social.<br>
                </p>
                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="faq">
                <h3 class="faq-title">
                    |SALES| - ONLINE SALE STAFF
                </h3>
                <p class="faq-text">
                    Full time<br>

                    <b>Thời gian làm việc:</b><br>
                    – 9h00 – 18h00, từ thứ 2 đến thứ 7.<br>

                    <b>Địa điểm làm việc:</b><br>
                    – 2T-2Q House – 450-451 Lê Văn Việt, Phường Tăng Nhơn Phú A, Thành phố Thủ Đức, TP.Hồ Chí Minh<br>

                    <b>Yêu cầu công việc:</b><br>
                    – Nam/Nữ từ 18-25 tuổi;<br>
                    – Hoạt bát, cẩn thận, sử dụng tốt các phần mềm văn bản (Word, Excel);<br>
                    – Trung thực và tinh thần trách nhiệm cao;<br>
                    – Giao tiếp qua điện thoại tốt.<br>

                    <b>Mô tả công việc:</b><br>
                    – Xử lí những vấn đề liên quan đến đơn hàng và giao tiếp với khách hàng, shipper qua điện thoại;<br>
                    – Thực hiện các nghiệp vụ kiểm tra định kì hàng hoá tại kho online theo hướng dẫn của người quản lí;<br>
                    – Phối hợp với nhân viên tại kho để thực hiện các quy trình xuất-nhập hàng hoá.<br>

                    <b>Quyền lợi:</b><br>
                    – Lương cơ bản 5 triệu trở lên tuỳ năng lực;<br>
                    – Thưởng KPI theo doanh số;<br>
                    – Thưởng các dịp Lễ, Tết;<br>
                    – Nghỉ phép 1 ngày/tháng.<br>

                    <b>Địa điểm phỏng vấn:</b><br>

                    – 2T-2Q House – 450-451 Lê Văn Việt, Phường Tăng Nhơn Phú A, Thành phố Thủ Đức, TP.Hồ Chí Minh<br>
                </p>
                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">
                    |SALES| - CUSTOMER SERVICE
                </h3>
                <p class="faq-text">
                    Full time<br>

                    <b>Thời gian làm việc:</b><br>
                    – 9h00 – 18h00, từ thứ 2 đến thứ 7.<br>

                    <b>Địa điểm làm việc:</b><br>
                    – 2T-2Q House – 450-451 Lê Văn Việt, Phường Tăng Nhơn Phú A, Thành phố Thủ Đức, TP.Hồ Chí Minh<br>

                    <b>Yêu cầu công việc:</b><br>
                    – Tuổi từ 18-24;<br>
                    – Giao tiếp trôi chảy, rành mạch, giọng nói dễ nghe;<br>
                    – Tin học văn phòng, tiếng Anh giao tiếp cơ bản;<br>
                    – Có khả năng làm việc dưới áp lực cao;<br>
                    – Kiên nhẫn, không nóng tính, có kinh nghiệm ở vị trí tương đương;<br>
                    – Có kiến thức và am hiểu về giày, thời trang là một lợi thế lớn.<br>

                    <b>Mô tả công việc:</b><br>
                    – Trả lời inbox, comment trên các kênh truyền thông chính thức của 2T-2Q (FB, IG,…) và các kênh thương mại điện tử đối tác;<br>
                    – Tư vấn giúp khách hàng chọn size giày, hướng dẫn bảo hành, đổi hàng;<br>
                    – Trực hotline & phản hồi cho khách những thông tin cần thiết, hỗ trợ kho online.<br>

                    <b>Quyền lợi:</b><br>
                    – Lương cơ bản 5 triệu trở lên tuỳ năng lực;<br>
                    – Thưởng KPI theo doanh số;<br>
                    – Thưởng các dịp Lễ, Tết;<br>
                    – 1 ngày nghỉ phép/tháng.<br>

                    <b>Địa điểm phỏng vấn:</b><br>

                    – 2T-2Q House – 450-451 Lê Văn Việt, Phường Tăng Nhơn Phú A, Thành phố Thủ Đức, TP.Hồ Chí Minh<br>
                </p>
                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/assets/js/contact_custom.js"></script>
}

<script>
    const toggles = document.querySelectorAll('.faq-toggle');

    toggles.forEach(toggle => {
        toggle.addEventListener('click', () => {
            toggle.parentNode.classList.toggle('active');
        });
    });
</script>