
@{
    ViewBag.Title = "FAQs";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/FAQs.css">

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->
            <h2 class="text-center" style="margin-top:30px;font-weight:bold;">FAQs</h2>
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/home">Trang chủ</a></li>
                    <li class="active"><a href="/FAQs"><i class="fa fa-angle-right" aria-hidden="true"></i>FAQs</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="faqs-container">
            <h2 class="text-center" style="margin-top:30px;font-weight:bold;">Câu hỏi thường gặp</h2>
            <div class="faq active">
                <h3 class="faq-title">
                    MUA HÀNG - ĐẶT HÀNG - TRA CỨU ĐƠN HÀNG
                </h3>
                <p class="faq-text">
                    <b>1. CÁCH THỨC MUA HÀNG TẠI 2T-2Q THẾ NÀO ?</b><br>
                    Để mua hàng, bạn có thể trực tiếp đến hệ thống các cửa hàng chính thức của 2T-2Q nhằm có những trải nghiệm mua sắm tốt nhất.

                    Hoặc, bạn có thể đặt mua các sản phẩm của chúng tôi ngay tại website theo các bước vô cùng đơn giản như sau:<br>

                    - Chọn sản phẩm bạn thích.<br>
                    - Chọn size và số lượng sản phẩm phù hợp.<br>
                    - Hoàn tất các bước đặt hàng khác trên hệ thống.<br>
                    - Nhận email xác nhận đặt hàng thành công từ hệ thống 2T-2Q.<br>
                    - Đợi chờ thêm một vài ngày để sản phẩm được giao đến bạn.<br>
                    <b>2. LÀM THẾ NÀO ĐỂ MUA CÁC SẢN PHẨM CÓ TRẠNG THÁI PRE-ORDER (ĐẶT HÀNG TRƯỚC) CỦA 2T-2Q?</b><br>
                    Đối với các sản phẩm Pre-order, bạn có thể đặt mua tại website theo các bước sau:<br>

                    - Chọn sản phẩm yêu thích.<br>
                    - Chọn size và số lượng phù hợp.<br>
                    - Hoàn tất các bước đặt hàng khác theo quy trình trên hệ thống.<br>
                    - Nhận email xác nhận đặt hàng thành công từ hệ thống của 2T-2Q.<br>
                    - Đợi đến ngày hẹn để sản phẩm bắt đầu được giao đến tay bạn.<br>
                    Lưu ý:<br>

                    - Đối với những sản phẩm Pre-order, phương thức thanh toán COD (cash on delivery) sẽ không được áp dụng. Bạn phải thanh toán trước bằng các hình thức thanh toán trực tuyến để có thể đặt hàng thành công.<br>
                    - Ngày giao hàng chính thức các sản phẩm Pre-order sẽ được hiển thị khi bạn hoàn tất việc chọn size và số lượng khả dụng sản phẩm đó. Trong một số trường hợp, mong bạn thông cảm vì ngày giao hàng có thể thay đổi từ một lí do không mong muốn, bạn có thể cập nhật thông tin tại chính trang chi tiết của sản phẩm để quyết định liệu có thể chờ đợi hay không.<br>
                    <b>3. KHI ĐẶT HÀNG TRÊN WEBSITE 2T-2Q, TÔI CÓ NHẬN ĐƯỢC EMAIL HAY CUỘC GỌI ĐỂ XÁC NHẬN TÔI ĐÃ ĐẶT HÀNG THÀNH CÔNG HAY KHÔNG?</b><br>
                    Hiện tại, sau khi đặt hàng thành công tại website 2T-2Q.vn, bạn sẽ nhận được xác nhận việc đặt hàng bằng email mà bạn đã dùng để đăng ký cùng cuộc gọi xác nhận đơn hàng từ bộ phận Customer Service của 2T-2Q.<br>

                    Một số lưu ý quan trọng:<br>

                    – Bộ phận Customer Service sẽ liên lạc đến bạn thông qua cuộc gọi khi đơn hàng có sự cố phát sinh, trong khung giờ: Thứ 2 – Thứ 7, 8h00 đến 17h00.<br>

                    – 2T-2Q luôn cố gắng liên lạc với bạn 02 cuộc gọi/ ngày và trong 02 ngày liên tiếp. Nếu quá thời hạn trên mà chúng tôi vẫn chưa thể liên hệ để trao đổi vấn đề phát sinh, đơn hàng của bạn sẽ bị hủy trên hệ thống.<br>

                    – Ở một số thời điểm hệ thống hoạt động kém ổn định (không gửi email xác nhận), bạn có thể chủ động liên hệ bộ phận Customer Service để nhận được thông tin đơn hàng.<br>

                    <b>4. LÀM THẾ NÀO TÔI CÓ THỂ TRA CỨU, HỦY BỎ HAY THAY ĐỔI ĐƠN HÀNG?</b><br>
                    Để tra cứu đơn hàng, bạn có thể truy cập mục Tra cứu đơn hàng, điền đầy đủ thông tin về “mã đơn hàng” và “email/số điện thoại” mà bạn đã đăng ký.<br>

                    Ở phần tra cứu đơn hàng, ngoài việc theo dõi quy trình xử lý, bạn cũng có thể trực tiếp hủy bỏ đơn hàng nếu đơn hàng đó chưa được chuyển qua giao nhận. Trong trường hợp đơn hàng đã được 2T-2Q chuyển qua đơn vị giao nhận, bạn vui lòng liên hệ trực tiếp với bộ phận Customer Service qua số hotline 0963 429 749 để được hướng dẫn chi tiết hơn.<br>

                    Ngoài ra, bạn cũng có thể liên lạc với bộ phận Customer Service trong trường hợp có thay đổi thông tin đơn hàng hay mong muốn đổi qua một sản phẩm khác.<br>

                    <b>5. ĐỐI VỚI ĐƠN HÀNG ĐÃ THANH TOÁN BẰNG PHƯƠNG THỨC THANH TOÁN TRỰC TUYẾN, KHI HỦY ĐƠN HÀNG TÔI CÓ ĐƯỢC HOÀN LẠI KHOẢN THANH TOÁN HAY KHÔNG?</b><br>
                    Khi yêu cầu hủy đơn hàng đó đáp ứng đúng hướng dẫn thay đổi hoặc hủy bỏ các giao dịch của 2T-2Q, chúng tôi sẽ hoàn lại khoản thanh toán cho bạn dù với bất cứ lí do gì.<br>
                    Thời gian hoàn lại khoản thanh toán tuỳ thuộc vào loại thẻ mà bạn sử dụng để thanh toán, thông thường là từ 1-3 ngày làm việc đối với thẻ nội địa, và 7-10 ngày làm việc đối với thẻ quốc tế kể từ khi đơn hàng bị hủy. Trong một số trường hợp có sự cố đến từ việc xử lí giao dịch từ ngân hàng hay cổng thanh toán, thời gian hoàn tiền có thể sẽ lâu hơn.<br>
                    <b>6. TÔI CÓ ĐƯỢC KIỂM TRA SẢN PHẨM TRƯỚC KHI NHẬN HÀNG HAY KHÔNG?</b><br>
                    Hiện tại, đơn hàng gửi đến bạn sẽ được chúng tôi niêm phong cẩn thận và bạn sẽ không thể kiểm tra sản phẩm trước khi nhận hàng nhằm tránh những vấn đề phát sinh khác nhau trong lúc vận chuyển và giao dịch mà 2T-2Q không thể kiểm soát được. Mong bạn thông cảm.<br>
                </p>
                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="faq">
                <h3 class="faq-title">
                    PHƯƠNG THỨC THANH TOÁN
                </h3>
                <p class="faq-text">
                    <b>Hiện tại, chúng tôi đang có các hình thức thanh toán sau:</b><br>

                    Tại cửa hàng:<br>

                    - Thanh toán bằng tiền mặt<br>
                    - Thanh toán bằng thẻ, mã QR từ ví điện tử và các ứng dụng ngân hàng qua dịch vụ POS (Point of sale).<br>
                    Mua hàng online tại website https://2T-2Q.vn:<br>

                    - COD (cash on delivery): thanh toán bằng tiền mặt khi bạn nhận hàng.<br>
                    - Thanh toán bằng thẻ nội địa – được phát hành bởi các ngân hàng trong nước (Vietcombank, Vietinbank, Sacombank,…). Lưu ý: Thẻ của bạn cần được đăng ký dịch vụ thanh toán thực tuyến tại ngân hàng để có thể sử dụng được hình thức này.<br>
                    - Thanh toán bằng thẻ quốc tế – được các ngân hàng trong nước liên kết với những tổ chức thẻ quốc tế (Visa, Master Card, JCB,…) phát hành.<br>
                    - Thanh toán bằng QR Code thông qua cổng thanh toán điện tử.<br>
                </p>
                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="faq">
                <h3 class="faq-title">
                    CHƯƠNG TRÌNH KHUYẾN MÃI
                </h3>
                <p class="faq-text">
                    <b>1. CÁC CHƯƠNG TRÌNH KHUYẾN MÃI CỦA 2T-2Q CÓ GÌ ?</b><br>
                    Hiện tại, chúng tôi đang áp dụng các chương trình khuyến mãi không thời hạn sau:<br>

                    - Chương trình MIỄN PHÍ VẬN CHUYỂN (Free Shipping) toàn quốc với mỗi hóa đơn từ 900.000 VNĐ, áp dụng cho tất cả sản phẩm tại website 2T-2Q.vn.<br>
                    - Chương trình BUY MORE – PAY LESS áp dụng với các sản phẩm được phân loại phụ kiện (ngoại trừ Bag & Backpack) trên cả kênh online và offline, cụ thể:<br>
                    - Giảm 5% trên giá phụ kiện khi mua 2 sản phẩm phụ kiện cùng loại bất kì trong một hoá đơn.<br>
                    - Giảm 10% trên giá phụ kiện khi mua 3 sản phẩm phụ kiện cùng loại bất kì trong một hoá đơn.<br>
                    - Giảm 15% trên giá phụ kiện khi mua từ 4 sản phẩm phụ kiện cùng loại bất kì trở lên trong một hoá đơn.<br>
                    - Chương trình BUY 2 GET 10% OFF áp dụng với tất cả áo Basic Tee trên cả kênh online và offline, cụ thể khi mua từ 2 áo Basic Tee bất kì trở lên trong một hoá đơn, hệ thống sẽ tự động tính giảm 10% cho bạn trên mỗi sản phẩm áo.<br>
                    Lưu ý:

                    – Ưu đãi sẽ được hệ thống tự động áp dụng khi hoá đơn đạt đủ điều kiện tại trang điền “Thông Tin Mua Hàng”.<br>

                    – Chương trình Free Shipping chỉ áp dụng cho phí giao hàng, không áp dụng trong các trường hợp đổi hàng hoặc bảo hành.<br>

                    Các chương trình khuyến mãi khác nằm trong phân mục này sẽ được chúng tôi tiếp tục cập nhật khi có những thông báo chính thức trên Website, Email và Fanpage 2T-2Q.<br>

                    <b>2. LÀM SAO ĐỂ TÔI CÓ THỂ CẬP NHẬT CÁC CHƯƠNG TRÌNH KHUYẾN MÃI TỪ 2T-2Q ?</b><br>
                    Có 2 cách để bạn luôn cập nhật kịp thời và không bỏ lỡ các chương trình khuyến mãi, ưu đãi đặc biệt từ 2T-2Q là:<br>

                    – Để chế độ xem trước các bài đăng của chúng tôi tại Fanpage 2T-2Q.<br>

                    – Hoặc Subcribe và để lại địa chị email để chúng tôi có thể gửi đến bạn các thông tin mới nhất từ 2T-2Q.<br>

                    <b>3. TÔI CÓ THỂ SỬ DỤNG MÃ KHUYẾN MÃI CHO CẢ MUA HÀNG ONLINE VÀ OFFLINE?</b><br>
                    Tùy vào chương trình mà mã khuyến mãi của bạn có thể áp dụng cho cả đơn hàng mua trực tiếp tại cửa hàng và tại website https://2T-2Q.vn hoặc chỉ áp dụng cho 1 hình thức mua hàng.<br>

                    <b>4. MÃ KHUYẾN MÃI CỦA TÔI CÓ THỜI HẠN LÀ BAO LÂU VÀ CÓ THỂ DÙNG ĐỒNG THỜI VỚI CÁC CHƯƠNG TRÌNH KHUYẾN MÃI KHÁC KHÔNG?</b><br>
                    Tùy vào loại mã mà hạn sử dụng sẽ khác nhau. Hiện tại, các mã khuyến mãi tại 2T-2Q đều có thể sử dụng trong một khoảng thời gian nhất định (được quy định rõ khi phát hành). Mỗi mã khuyến mãi sẽ có quy định về việc có thể sử dụng cùng với các khuyến mãi khác hay không.<br>
                </p>
                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="faq">
                <h3 class="faq-title">
                    GIAO HÀNG - VẬN CHUYỂN
                </h3>
                <p class="faq-text">
                    <b>1. TÔI CÓ TỐN PHÍ VẬN CHUYỂN KHI ĐẶT HÀNG HAY KHÔNG VÀ MỨC PHÍ LÀ BAO NHIÊU?</b><br>
                    Phí vận chuyển sẽ được tính tùy theo khu vực và sẽ được hiển thị sau khi bạn nhập đầy đủ các thông tin cần thiết tại trang “Thông Tin Mua Hàng”.<br>

                    <b>2. SẼ MẤT BAO LÂU ĐỂ TÔI NHẬN ĐƯỢC HÀNG TỪ 2T-2Q?</b><br>
                    Thời gian giao hàng dự kiến ở nội thành TP.HCM sẽ mất từ 2-3 ngày; ngoại thành và các thành phố lớn sẽ từ 3-5 ngày; các tỉnh thành khác sẽ mất khoảng từ 5-7 ngày.<br>

                    Đối với các đơn hàng pre-order, thời gian giao hàng sẽ bắt đầu được tính từ ngày mở bán chính thức của sản phẩm đó.<br>

                    Một số lưu ý quan trọng:<br>

                    – Thời gian giao hàng trên được tính kể từ ngày đơn vị vận chuyển bắt đầu phát hàng đi, chưa bao gồm thời gian xử lý đơn hàng.<br>

                    – Các đơn hàng sẽ không được giao vào các ngày Chủ nhật và ngày Lễ.<br>

                    – Trong thời gian đơn hàng được chuyển đi, nếu có nhu cầu thay đổi thông tin địa chỉ nhận hàng, tuỳ trường hợp có thể sẽ phải thanh toán thêm phí vận chuyển phát sinh.<br>

                    – Trong một số thời điểm, việc vận chuyển sẽ bị quá tải, dẫn đến đơn hàng của bạn sẽ chậm trễ hơn so với thời gian dự kiến. Mong bạn thông cảm và chờ đợi thêm một vài ngày nữa.<br>

                    <b>3. NẾU TÔI ĐẶT MUA TẠI WEBSITE 2T-2Q.VN NHƯNG MUỐN NHẬN SẢN PHẨM TẠI CỬA HÀNG THÌ CÓ ĐƯỢC KHÔNG?</b><br>
                    Do bộ phận cửa hàng và kho online là 2 bộ phận làm việc và chịu trách nhiệm riêng biệt nên sản phẩm bạn đặt tại website 2T-2Q.vn sẽ không thể nhận tại bất kì cửa hàng 2T-2Q nào trong hệ thống.<br>

                    <b>4. 2T-2Q CÓ GIAO HÀNG QUỐC TẾ?</b><br>
                    Hiện tại, chúng tôi chỉ hỗ trợ cho các đơn hàng tại lãnh thổ Việt Nam. Các đơn hàng có yêu cầu vận chuyển ra nước ngoài, vui lòng liên hệ bộ phận Customer Service để được hướng dẫn chi tiết.<br>
                </p>
                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="faq">
                <h3 class="faq-title">
                    ĐỔI - BẢO HÀNH SẢN PHẨM
                </h3>
                <p class="faq-text">
                    <b>1. QUY ĐỊNH ĐỔI HÀNG CỦA 2T-2Q NHƯ THẾ NÀO ?</b><br>
                    2T-2Q luôn mong mỗi sản phẩm khi đến với bạn đều là những sản phẩm thực sự phù hợp và khiến bạn hài lòng. Tuy vậy, chúng tôi vẫn có một số quy định về việc đổi hàng để bạn tham khảo trong trường hợp bạn chưa ưng ý với sản phẩm sau khi đã mua về. Cụ thể như sau:<br>

                    Quy định chung cho việc đổi hàng:<br>

                    – Không áp dụng việc trả hàng – hoàn tiền trong bất cứ trường hợp nào. Mong bạn thông cảm.<br>

                    – Chỉ áp dụng đổi hàng 01 lần duy nhất cho sản phẩm Giày và Thời trang. Không hỗ trợ đổi sản phẩm thuộc nhóm Phụ kiện.<br>

                    – Sản phẩm đổi phải còn mới, còn nguyên tem, hộp, nhãn mác và chưa có dấu hiệu đã sử dụng, đã giặt tẩy, bám bẩn hay biến dạng.<br>

                    – 2T-2Q ưu tiên hỗ trợ đổi size. Trong trường hợp mong muốn đổi sang 01 sản phẩm khác, chúng tôi vẫn hỗ trợ bạn:<br>

                    ~Nếu sản phẩm muốn đổi ngang giá trị hoặc có giá trị cao hơn, bạn sẽ cần bù khoản chênh lệch tại thời điểm đổi (nếu có).<br>
                    ~Nếu bạn mong muốn đổi sản phẩm có giá trị thấp hơn, chúng tôi sẽ không hoàn lại tiền.<br>
                    – 2T-2Q sẽ không áp dụng việc đổi hàng với các sản phẩm phụ kiện, các sản phẩm đang áp dụng chương trình Sale Off từ 50% trở lên, các sản phẩm thuộc phiên bản giới hạn (limited edition) hoặc các sản phẩm có dấu hiệu đã qua sử dụng, đã giặt tẩy, bám bẩn hay biến dạng.<br>

                    – 2T-2Q sẽ không áp dụng việc hoàn trả tiền mặt dù bất cứ trường hợp nào. Mong bạn thông cảm.<br>

                    Đối với các sản phẩm mua trực tiếp tại cửa hàng:<br>

                    – Thời hạn đổi hàng với sản phẩm giày và thời trang là 07 ngày, tính từ ngày bạn mua hàng.<br>

                    – Việc đổi sản phẩm chỉ áp dụng tại cửa hàng mà bạn đã mua hàng. Không áp dụng đổi tại cửa hàng khác.<br>

                    – Trong trường hợp sản phẩm – size muốn đổi không còn hàng tại cửa hàng đã mua, bạn vui lòng chọn sản phẩm khác.<br>

                    Đối với các sản phẩm mua tại trang 2T-2Q.vn cùng các trang thương mại điện tử đối tác khác:<br>

                    – Thời hạn đổi hàng với sản phẩm giày và thời trang là 14 ngày, tính từ ngày bạn nhận được hàng.<br>

                    – Đối với các đơn hàng mua online tại 2T-2Q.vn và các trang thương mại điện tử đối tác. Để đổi hàng, bạn vui lòng điền đầy đủ thông tin và làm theo hướng dẫn được in trên thân Shipping Box đi kèm khi giao hàng.<br>

                    – Khi đổi hàng, bạn vui lòng chịu 1 đầu phí chuyển đến kho online 2T-2Q. Chúng tôi sẽ chịu đầu phí khi chuyển hàng lại cho bạn sau khi đã hoàn tất việc đổi sản phẩm.<br>

                    – Trong trường hợp sản phẩm – size muốn đổi không còn hàng tại hệ thống kho đổi online, bạn vui lòng chọn sản phẩm khác.<br>

                    <b>2. QUY ĐỊNH VỀ VIỆC BẢO HÀNH SẢN PHẨM CỦA 2T-2Q NHƯ THẾ NÀO?</b><br>
                    – Chúng tôi hiểu rằng đôi khi sản phẩm có thể xảy ra những vấn đề không mong muốn trong quá trình bạn sử dụng. Vì thế, 2T-2Q sẽ hỗ trợ bảo hành sản phẩm theo quy định bên dưới:<br>

                    ~Đối với các sản phẩm giày, 2T-2Q hỗ trợ bảo hành trong vòng 06 tháng kể từ ngày mua với các trường hợp bung keo, sứt chỉ, gãy đế hoặc có lỗi từ nhà sản xuất.<br>
                    ~Đối với các sản phẩm thuộc nhóm thời trang và phụ kiện, chính sách bảo hành không được áp dụng. Mong bạn thông cảm.<br>
                    ~Để việc bảo hành thuận tiện và nhanh chóng hơn, bạn vui lòng vệ sinh giày sạch sẽ trước khi gửi về 2T-2Q. Chúng tôi xin từ chối thực hiện việc bảo hành nếu như sản phẩm chưa được vệ sinh khi nhận được giày.<br>
                    – Đối với các sản phẩm mua tại cửa hàng, bạn có thể đem sản phẩm cần được bảo hành đến bất kì cửa hàng 2T-2Q chính thức để được hỗ trợ.<br>

                    – Đối với các sản phẩm mua qua website 2T-2Q và các trang thương mại điện tử đối tác, bạn vui lòng làm theo các bước sau:<br>

                    ~Ghi rõ tên, số điện thoại của bạn cùng tình trạng cần được bảo hành và để vào hộp giày.<br>
                    ~Gửi về trung tâm chăm sóc khách hàng tại địa chỉ: 5C Tân Cảng, P.25, Q.Bình Thạnh , TP. Hồ Chí Minh.<br>
                    ~Khi gửi bảo hành sản phẩm, bạn vui lòng chịu một đầu phí chuyển đến kho 2T-2Q, chúng tôi sẽ chịu phí chuyển đến bạn khi việc bảo hành đã hoàn tất.<br>
                    <b>3. MẤT BAO LÂU ĐỂ TÔI CÓ THỂ NHẬN LẠI SẢN PHẨM ĐƯỢC ĐỔI VÀ BẢO HÀNH KHI TÔI GỬI VỀ 2T-2Q?</b><br>
                    Khi nhận được sản phẩm bạn gửi về, tùy vào hình thức là “Đổi” hay “Bảo Hành”, bộ phận Customer Service sẽ thông báo lại khoảng thời gian dự kiến mà bạn có thể nhận lại sản phẩm của mình. Hãy tin rằng chúng tôi luôn cố gắng làm việc để sản phẩm trở về tay bạn sớm nhất có thể.<br>
                </p>
                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/assets/js/contact_custom.js"></script>
}

<script>
    const toggles = document.querySelectorAll('.faq-toggle');

    toggles.forEach(toggle => {
        toggle.addEventListener('click', () => {
            toggle.parentNode.classList.toggle('active');
        });
    });
</script>