
@{
    ViewBag.Title = "Policy";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/FAQs.css">

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->
            <h2 class="text-center" style="margin-top:30px;font-weight:bold;">Chính sách chung</h2>
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/home">Trang chủ</a></li>
                    <li class="active"><a href="/chinh-sach"><i class="fa fa-angle-right" aria-hidden="true"></i>Chính sách chung</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="faqs-container">
            <h2 class="text-center" style="margin-top:30px;font-weight:bold;">TERMS & CONDITIONS – CHÍNH SÁCH CHUNG</h2>
            <div class="faq active">
                <h3 class="faq-title">
                    THƯƠNG HIỆU VÀ BẢN QUYỀN
                </h3>
                <p class="faq-text">
                    Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), nội dung thông tin và tất cả các thiết kế, văn bản, đồ họa, hình ảnh, video, âm nhạc, mã nguồn,… trong phạm vi website bạn đang xem đều thuộc sở hữu tài sản của 2T-2Q. Toàn bộ nội dung của trang web được bảo vệ bởi luật bản quyền của Việt Nam và các công ước quốc tế.<br>
                </p>
            </div>
            <div class="faq active">
                <h3 class="faq-title">
                    QUY ĐỊNH VỀ TRUY CẬP VÀ SỬ DỤNG WEBSITE
                </h3>
                <p class="faq-text">
                    Khi truy cập vào website của chúng tôi, bạn cần đảm bảo việc bạn có đủ hành vi dân sự để thực hiện các giao dịch mua hàng theo quy định hiện hành của pháp luật Việt Nam. Hãy đảm bảo rằng bạn đã đủ 16 tuổi hoặc truy cập dưới sự giám sát của các thành viên trong gia đình hay người giám hộ hợp pháp.<br>
                    Trong suốt quá trình đăng ký, sử dụng website,… bạn có toàn quyền quyết định mình sẽ được nhận thư quảng cáo, tin tức về các chương trình khuyến mãi thông qua Email mà bạn đã đăng ký hay không. Nếu không muốn tiếp tục nhận Email từ 2T-2Q, bạn cũng có toàn quyền từ chối bằng cách nhấp vào đường dẫn ở dưới cùng trong thư điện tử được gửi đến bất kỳ.<br>
                    2T-2Q không mong muốn bạn sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào nội dung, hệ thống hay làm thay đổi cấu trúc dữ liệu của website chúng tôi. Các hình thức phát tán, truyền bá, cổ vũ không được phép hay can thiệp, thay đổi, xóa bỏ nội dung, cấu trúc dữ liệu hệ thống của chúng tôi một cách bất hợp pháp đều sẽ có hình thức xử lý từ 2T-2Q. Mọi cá nhân hoặc tổ chức nếu vi phạm sẽ chịu truy tố trước pháp luật và phải bồi thường thiệt hại đã gây ra.<br>
                </p>
            </div>
            <div class="faq active">
                <h3 class="faq-title">
                    QUY ĐỊNH VỀ BẢO MẬT THÔNG TIN
                </h3>
                <p class="faq-text">
                    2T-2Q luôn coi trọng việc bảo mật thông tin và cam kết sẽ sử dụng mọi biện pháp tốt nhất nhằm bảo vệ thông tin bạn đã cung cấp cho chúng tôi.<br>
                    Ở một mặt khác, bạn hoàn toàn có thể truy cập vào website và trình duyệt mà không cần phải cung cấp chi tiết cá nhân. Thông tin của bạn, nếu có, cũng đều sẽ được mã hóa để đảm bảo an toàn trong suốt quá trình giao dịch tại website 2T-2Q. Riêng trường hợp được cơ quan pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan pháp luật.<br>
                    Vui lòng xem kỹ hơn quy định tại phần Chính sách Bảo mật Thông tin.<br>

                    2T-2Q tuân thủ các biện pháp đảm bảo an toàn/ bảo mật thông tin tài khoản thanh toán cá nhân theo quy định của pháp luật cũng như các quy định và các khuyến nghị về giám sát của Ngân hàng Nhà nước.<br>
                </p>
            </div>
            <div class="faq active">
                <h3 class="faq-title">
                    ĐIỀU KHOẢN VỀ THÔNG TIN SẢN PHẨM, GIÁ CẢ, DỊCH VỤ VÀ CÁC NỘI DUNG KHÁC
                </h3>
                <p class="faq-text">
                    Chúng tôi cam kết sẽ cung cấp thông tin sản phẩm, giá cả, dịch vụ và nội dung khác chính xác nhất đến người dùng. Tuy nhiên, đôi lúc vẫn có sai sót xảy ra, ví dụ như trường hợp giá cả sản phẩm, phí vận chuyển, hình ảnh sản phẩm,… không hiển thị chính xác ở một vài thời điểm và trên một số thiết bị. Tùy theo từng trường hợp cụ thể, 2T-2Q sẽ liên hệ trực tiếp nhằm hướng dẫn hoặc thông báo đến bạn để khắc phục và xử lý.<br>
                </p>
            </div>
            <div class="faq active">
                <h3 class="faq-title">
                    PHƯƠNG THỨC THANH TOÁN
                </h3>
                <p class="faq-text">
                    Hiện tại, chúng tôi đang có các phương thức thanh toán sau:<br>

                    - Tại cửa hàng:<br>
                    ~Thanh toán bằng tiền mặt<br>
                    ~Thanh toán bằng thẻ, mã QR từ ví điện tử và các ứng dụng ngân hàng qua dịch vụ POS (Point of sale).<br>
                    - Đặt mua hàng tại website 2T-2Q.vn:
                    ~COD (cash on delivery): là hình thức thanh toán trực tiếp bằng tiền mặt khi bạn nhận hàng.<br>
                    ~Thanh toán bằng thẻ nội địa – được phát hành bởi các ngân hàng trong nước (Vietcombank, Vietinbank, Sacombank,…). Lưu ý: Thẻ của bạn cần được đăng ký dịch vụ thanh toán thực tuyến tại ngân hàng để có thể sử dụng được hình thức này.<br>
                    ~Thanh toán bằng thẻ quốc tế – được các ngân hàng trong nước liên kết với những tổ chức thẻ quốc tế (Visa, Master Card, JCB,…) phát hành.<br>
                    ~Thanh toán bằng QR Code thông qua cổng thanh toán điện tử<br>
                </p>
            </div>
            <div class="faq active">
                <h3 class="faq-title">
                    CHÍNH SÁCH KHUYẾN MÃI
                </h3>
                <p class="faq-text">
                    Với mong muốn giúp bạn có những trải nghiệm mua sắm tốt nhất, 2T-2Q sẽ áp dụng một số chính sách khuyến mãi cố định hoặc tùy thời điểm về phí giao hàng, quà tặng và ưu đãi đặc biệt, được ghi rõ tại FAQs – mục “III. Chính sách Khuyến mãi”.<br>
                </p>
            </div>
            <div class="faq active">
                <h3 class="faq-title">
                    THAY ĐỔI HOẶC HỦY BỎ CÁC GIAO DỊCH
                </h3>
                <p class="faq-text">
                    Bạn được quyền thay đổi hoặc chấm dứt giao dịch theo hướng dẫn đã được ghi rõ tại phần FAQs – mục “I. Mua Hàng – Đặt Hàng – Tra Cứu Đơn Hàng”.<br>
                </p>
            </div>
            <div class="faq active">
                <h3 class="faq-title">
                    QUY ĐỊNH ĐỔI HÀNG VÀ BẢO HÀNH
                </h3>
                <p class="faq-text">
                    1. Quy định đổi hàng:<br>

                    - Với sản phẩm mua tại cửa hàng, thời hạn đổi sản phẩm là 07 ngày, tính từ ngày bạn mua hàng. Còn với sản phẩm mua online, thời hạn đổi sản phẩm là 14 ngày, tính từ ngày nhận được hàng.<br>
                    - Chỉ áp dụng đổi hàng 01 lần duy nhất cho sản phẩm Giày và Thời trang. Không hỗ trợ đổi sản phẩm thuộc nhóm Phụ kiện.<br>
                    - Sản phẩm đổi phải còn mới, còn nguyên tem, hộp, nhãn mác và chưa có dấu hiệu đã sử dụng, đã giặt tẩy, bám bẩn hay biến dạng.<br>
                    - 2T-2Q sẽ không áp dụng việc đổi hàng với các sản phẩm phụ kiện, các sản phẩm đang áp dụng chương trình Sale Off từ 50% trở lên, các sản phẩm thuộc phiên bản giới hạn (limited edition).<br>
                    - Việc đổi hàng chỉ áp dụng tại đúng kênh (cửa hàng) mà bạn đã mua hàng.<br>
                    - Không áp dụng việc trả hàng – hoàn tiền trong bất cứ trường hợp nào. Mong bạn thông cảm.<br>
                    - 2T-2Q ưu tiên hỗ trợ đổi size. Trong trường hợp mong muốn đổi sang 01 sản phẩm khác, chúng tôi vẫn hỗ trợ bạn:<br>
                    ~Nếu bạn muốn đổi sang sản phẩm có giá trị cao hơn, bạn sẽ cần bù khoản chênh lệch tại thời điểm đổi (nếu có).<br>
                    ~Nếu bạn muốn đổi sang sản phẩm có giá trị thấp hơn, chúng tôi sẽ không hoàn lại tiền.<br>
                    Để đổi hàng, bạn có thể xem thêm hướng dẫn tại phần FAQs – mục “III. Quy định Đổi hàng – Bảo hành sản phẩm”.<br>

                    2. Quy định bảo hành:<br>

                    - Đối với các sản phẩm giày, 2T-2Q hỗ trợ bảo hành trong vòng 06 tháng kể từ ngày mua với các trường hợp bung keo, sứt chỉ, gãy đế hoặc 1 đổi 1 với trường hợp phát sinh lỗi từ trong quá trình sản xuất.<br>
                    - Đối với các sản phẩm thuộc nhóm thời trang và phụ kiện, chính sách bảo hành không được áp dụng. Mong bạn thông cảm.<br>
                    - Để việc bảo hành thuận tiện và nhanh chóng hơn, bạn vui lòng vệ sinh giày sạch sẽ trước khi gửi về 2T-2Q. Chúng tôi xin từ chối thực hiện việc bảo hành nếu như sản phẩm chưa được vệ sinh khi nhận được giày.<br>
                    Để yêu cầu bảo hành sản phẩm, bạn có thể xem thêm hướng dẫn tại phần FAQs – mục “III. Quy định Đổi hàng – Bảo hành sản phẩm”.<br>
                </p>
            </div>
            <div class="faq active">
                <h3 class="faq-title">
                    QUYỀN PHÁP LÝ
                </h3>
                <p class="faq-text">
                    Bạn có toàn quyền yêu cầu chúng tôi sửa lại những sai sót trong dữ liệu của bạn. Bất cứ lúc nào bạn cũng có quyền yêu cầu chúng tôi ngưng sử dụng dữ liệu cá nhân của bạn cho mục đích tiếp thị hoặc ngưng nhận thông tin quảng cáo, khuyến mãi từ 2T-2Q thông qua Email.<br>
                    Các điều kiện, điều khoản và nội dung tại website được điều chỉnh theo luật pháp Việt Nam và Tòa Án có thẩm quyền tại Việt Nam sẽ giải quyết bất kỳ tranh chấp nếu có phát sinh từ việc sử dụng trái phép nội dung.<br>
                </p>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/assets/js/contact_custom.js"></script>
}