
@{
    ViewBag.Title = "Policy";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/FAQs.css">

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->
            <h2 class="text-center" style="margin-top:30px;font-weight:bold;">Chính sách chung</h2>
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li class="active"><a href="/chinh-sach"><i class="fa fa-angle-right" aria-hidden="true"></i>Chính sách chung</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="faqs-container">
            <h2 class="text-center" style="margin-top:30px;font-weight:bold;">Chính sách bảo mật thông tin</h2>
            <div class="faq active">
                <h3 class="faq-title">
                    THÔNG TIN CÁ NHÂN
                </h3>
                <p class="faq-text">
                    2T-2Q chỉ yêu cầu các thông tin cá nhân của bạn như:<br>

                    - Họ và Tên<br>
                    - Ngày, tháng, năm sinh<br>
                    - Địa chỉ Email<br>
                    - Địa chỉ (dùng cho mục đích quản lý đơn hàng, giao nhận)<br>
                    Cùng các thông tin không bắt buộc khác khi bạn muốn tương tác với một số nội dung trên 2T-2Q. Các thông tin cá nhân của bạn sẽ được 2T-2Q sử dụng để nhận diện và liên hệ với bạn khi cần.<br>
                </p>
            </div>
            <div class="faq active">
                <h3 class="faq-title">
                    CÁCH THỨC SỬ DỤNG THÔNG TIN
                </h3>
                <p class="faq-text">
                    Thông thường, chúng tôi sử dụng các thông tin bạn cung cấp chỉ để liên hệ, hồi đáp những câu hỏi hay xác nhận thông tin đơn hàng theo tên, địa chỉ và số điện thoại mà bạn đã cung cấp. Chúng tôi cam kết thông tin cá nhân của bạn sẽ không bị chia sẻ với bất kỳ một bên thứ ba nào khi chưa có sự đồng ý. Chúng tôi chỉ có thể được phép chia sẻ thông tin với các đối tác giao nhận hoặc với các đối tác trong các chương trình, dự án liên kết khác. Dữ liệu khách hàng của 2T-2Q có thể được chuyển nhượng cho người kế thừa hay người được chỉ định theo thỏa thuận để quản lý khi công ty có sự mua bán, sát nhập hay tuyên bố phá sản.<br>
                </p>
            </div>
            <div class="faq active">
                <h3 class="faq-title">
                    ĐẢM BẢO AN TOÀN VỚI CÁC THÔNG TIN ĐƯỢC THU THẬP
                </h3>
                <p class="faq-text">
                    2T-2Q chỉ tập hợp lại các thông tin cá nhân của bạn trong phạm vi phù hợp và cần thiết cho mục đích cải thiện chất lượng phục vụ cũng như nâng cao trải nghiệm các dịch vụ được 2T-2Q cung cấp. Chúng tôi cam kết tôn trọng và luôn duy trì các biện pháp thích hợp nhằm đảm bảo tính an toàn, vẹn nguyên, độ chính xác cùng tính bảo mật về các thông tin mà bạn đã tin tưởng để cung cấp cho chúng tôi. Ngoài ra, 2T-2Q cũng cam kết có những biện pháp thích hợp nhằm đảm bảo tính an toàn, tính bảo mật về mọi thông tin mà bạn đã cung cấp cho chúng tôi trong các chương trình hay sự liên kết với các đối tác, các bên thứ ba.<br>
                </p>
            </div>
            <div class="faq active">
                <h3 class="faq-title">
                    COOKIES
                </h3>
                <p class="faq-text">
                    Cookies là những tệp nhỏ phát sinh trong quá trình bạn truy cập, hoạt động trên Website được 2T-2Q ghi chép lại nhằm mục đích đáp ứng các nhu cầu của người sử dụng và nhiều mục đích khác.<br>
                </p>
            </div>
            <div class="faq active">
                <h3 class="faq-title">
                    LIÊN KẾT VỚI CÁC WEBSITE KHÁC
                </h3>
                <p class="faq-text">
                    Nếu bạn nhấn đường liên kết sang Website của bên thứ ba, bạn sẽ tạm rời khỏi 2T-2Q để đến trang Web mà bạn đã chọn. 2T-2Q không thể kiểm soát các hoạt động của bên thứ ba và không chịu trách nhiệm về sự an toàn hay bất kể những nội dung gì có trên website đó.<br>
                </p>
            </div>
            <div class="faq active">
                <h3 class="faq-title">
                    ĐIỀU KHOẢN THAY ĐỔI
                </h3>
                <p class="faq-text">
                    Chúng tôi có toàn quyền thay đổi, bổ sung nội dung của các điều khoản này. Bạn có thể thường xuyên kiểm tra nhằm nắm được các điều khoản thay đổi trong “Chính Sách Bảo Mật Thông Tin” của chúng tôi. Thêm vào đó, đối với những thay đổi quan trọng về cách sử dụng liên quan đến các thông tin cá nhân mà bạn cung cấp cho 2T-2Q, chúng tôi sẽ gửi thông báo cho bạn bằng Email hoặc thông báo trên các kênh truyền thông chính thức khác của 2T-2Q. Trong trường hợp bạn có thắc mắc về các điều khoản hay cách sử dụng liên quan đến các thông tin cá nhân của bạn tại website 2T-2Q.vn, xin liên hệ với chúng tôi theo địa chỉ Email: cs@2T-2Q.vn.<br>
                </p>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/assets/js/contact_custom.js"></script>
}